/*цвет текста 
Главныйцвет #212121 
Вторичный #757575 */

/*цвет фон 
основной #E5E5E5 
вторичный #2F303A */

html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);

  --main-background-color: #ffffff;
  --sec-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  margin: 0px;
}
a {
  text-decoration: none;
  color: var(--title-text-color);
  display: block;
  margin: 0;
}

p {
  margin: 0px;
}
button {
  font-family: inherit;
}

footer {
  color: var(--white-text-color);
  line-height: 1.71;
  background-color: var(--sec-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  text-decoration: none;
  font-style: normal;
  display: block;
  margin-bottom: 9px;
}
header {
  display: flex;
}
/*Шапка*/

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  justify-content: space-evenly;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page-header :hover,
.page-header :focus {
  color: var(--accent-color);
}
.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-right: 93px;
}

.nav,
.page-contacts-top {
  display: flex;
  align-items: center;
}

.logoWeb {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}
.nav-list :last-child {
  margin-right: 0px;
}

.site-nav-link {
  margin-right: 50px;
}

.site-nav-content {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-contacts-top {
  display: flex;
}
.page-contacts-top-link :last-child {
  margin-left: 0px;
}
.page-contacts-top-link {
  color: var(--primary-text-color);
  margin-left: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
/*заказать услугу*/
.order {
  background-color: var(--sec-background-color);
  text-align: center;
}
.order-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-button {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  padding: 4px;

  width: 200px;
  height: 50px;
  margin-top: 30px;
}
.order-button:hover,
.order-button:focus {
  color: var(--white-text-color);
}

.main-title {
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 696px;
  margin: auto;
}

/*секция 2, 3, 4, 5*/
.visually-hidden {
  position: absolute;
  clip: rect (0000);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}
.benefits-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.offer {
  padding-bottom: 94px;
}

.benefits-title,
.offer-title,
.team-title,
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.offer-list {
  display: flex;
}
.offer-title {
  margin-bottom: 50px;
}

.offer-list-link:not(:last-child) {
  margin-right: 30px;
}
.offer-img {
  display: block;
}

.team-item {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
}
.team-item {
  margin-bottom: 10px;
}
.work-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.team {
  background-color: var(--team-background-color);

  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-img {
  display: block;
}

.team-content,
.work-content {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  display: block;
  background-color: var(--main-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.full-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.works-button {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--team-background-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  cursor: pointer;
}

.works-button-item {
  margin-right: 8px;
  margin-bottom: 20px;
}
.works-button-item:last-child {
  margin-right: 0px;
}

.works-button:hover,
.works-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-list-item {
  width: calc((100% - 60) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.works-list-item:nth-child(3n) {
  margin-right: 0px;
}
.works-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-img {
  display: block;
}
.works-card {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.work-item {
  margin-bottom: 4px;
}

/*Футер*/

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-text-color);

  display: block;
  margin-bottom: 30px;
}

.page-contacts-footer :hover,
.page-contacts-footer :focus {
  color: var(--accent-color);
}
.page-contacts-footer-link {
  color: var(--footer-color);
  display: block;
  margin-bottom: 9px;
}
.page-contacts-footer-link:first-child {
  margin-bottom: 9px;
}
